<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Meu Site{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <h3>Tarefas.com</h3>
        </a>

        <ul>
            <li>
                <a href="{{ url_for('criar-tarefa') }}">Nova Tarefa</a>
            </li>
            <li>
                <a href="{{ url_for('listar-tarefas') }}">Ver tarefas</a>
            </li>
        </ul>
    </header>
    <main>
        {% block titulo_principal %} {% endblock %}
        {% block conteudo %} 

        {%endblock%}
    </main>
</body>
</html>